schema2code/src/main/resources/example.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Person">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string" />
                <xs:element name="adresse" type="xs:string" minOccurs="0" />
            </xs:sequence>
            <xs:attribute  name="id" type="xs:long" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>